<div class="bottom-nav">
  <%= link_to trainings_path, class: "nav-item #{'active' if current_page?(trainings_path)}" do %>
    <i class="fa-solid fa-square-poll-vertical"></i>
  <% end %>

  <%= link_to history_trainings_path, class: "nav-item #{'active' if current_page?(history_trainings_path)}" do %>
    <i class="fa-solid fa-calendar"></i>
  <% end %>

  <%= link_to new_training_path, class: "nav-item #{'active' if current_page?(new_training_path)}" do %>
    <i class="fas fa-plus-circle"></i>
  <% end %>

  <%= link_to favorites_trainings_path, class: "nav-item #{'active' if current_page?(favorites_trainings_path)}" do %>
    <i class="fa-solid fa-heart"></i>
  <% end %>

  <a href="#" class="nav-item">
    <i class="fas fa-user"></i>
  </a>
</div>
<div class="push-up">
</div>
