<div class="navbar navbar-expand-sm navbar">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <div class="d-flex align-items-center">
      <a href="#" class="avatar">
        <%= image_tag "medaille.png", class: "rounded-circle", width: 40, height: 40 %>
      </a>
      <div class="d-flex flex-column ms-2">
        <span class="text-grey fw-bold fs-6 grey">Welcome Back</span>
<% if current_user %>
  <span class="fw-bold fs-5 username"><%= current_user.spotify_name %></span>
<% end %>
      </div>
    </div>

  </div>
</div>
