<div class="home">
  <div class="contenu-home">
    <h1>Runify</h1>
    <div class="home-wrapper">
      <%= image_tag "runner.png", class: "runner-image" %>
      <%= link_to "Get started with Spotify", trainings_path, class: "login-button"  %>
      <p id = "paragraphe_accueil" >Transform each run into an immersive experience</p>
    </div>
  </div>
</div>
