<div class = "home">

  <div class = "contenu-home">
  <h1>Runify</h1>
  <%= image_tag "runner.png", width: 400, height: 400 %>
  <button class = "login-button" width: 20>Login</button>
  <div class = "titre">
    <p>Transforme chaque session de running en une expérience immersive</p>
  </div>

</div>
</div>


<%# <%= image_tag "runner.jpg" class = "image", width: 300, height: 300 %> %>
