body {
  background: rgb(6, 6, 6);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;  /* Centrer verticalement */
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%; /* Permet au .home de s'adapter à la largeur de l'écran */
  padding: 0px; /* Ajoute un peu d'espace autour du contenu */
}

h1 {
  color: white;
  font-size: 2.2rem; /* Augmenter la taille du titre pour plus de visibilité */
  margin-bottom: 50px;  /* Ajoute un grand espace sous le titre */
  margin-top: 5;  /* Pas de marge supérieure */
}

p {
  color: rgb(255, 254, 254);
  font-family: Georgia, serif;
  background-color: rgb(23, 22, 22);
  width: 80%;
  max-width: 350px;
  height: auto;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  font-size: 1.2rem;
  margin: 0 auto; /* Centre horizontalement */
  margin-bottom: 60px; /* Espace important sous le texte */
}

.runner-image {
  width: 100%;  /* Prend toute la largeur de l'écran */
  height: auto;
  margin-bottom: 60px; /* Espace sous l'image pour séparer le bouton */
  border: solid rgb(116, 117, 115) 1px
}

.login-button {
  background-color: greenyellow;
  width: 70%;  /* Augmenter la largeur du bouton pour plus de visibilité */
  max-width: 350px;
  height: 50px;
  border-radius: 10px;
  margin-top: 30px;  /* Ajouter un peu d'espace au-dessus du bouton */
  margin-bottom: 40px; /* Plus d'espace sous le bouton */
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem; /* Ajuster la taille du titre pour les tablettes */
    margin-bottom: 5px;  /* Moins d'espace sous le titre */
  }

  p {
    font-size: 1.3rem;
    width: 90%;
    margin-bottom: 50px; /* Plus d'espace sous le texte pour les écrans moyens */
  }

  .login-button {
    width: 70%;  /* Bouton plus large pour les écrans moyens */
    margin-bottom: 30px; /* Plus d'espace sous le bouton */
  }

  .runner-image {
    max-width: 100%; /* Gérer la taille de l'image */
    margin-bottom: 20px; /* Plus d'espace sous l'image */
  }
}

@media (max-width: 400px) {
  h1 {
    margin-top: 0;
    font-size: 1.8rem; /* Taille réduite pour les petits écrans */
    margin-bottom: 5px; /* Plus d'espace sous le titre */
    margin-left: 0;
  }

  p {
    font-size: 1.3rem;
    padding: 20px;
    width: 90%;
    margin-bottom: 50px; /* Augmenter l'espace sous le texte */
  }

  .login-button {
    width: 80%;  /* Le bouton occupe plus d'espace sur les petits écrans */
    margin-bottom: 30px; /* Plus d'espace sous le bouton */
  }

  .runner-image {
    width: 100%;  /* L'image occupe toute la largeur de l'écran */
    margin-bottom: 20px; /* Plus d'espace sous l'image */
  }
}
