.category-wrapper {
  display: flex;
  height: calc(100svh - 66px);
  flex-direction: column;
  justify-content: space-between;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}

.category-selector:checked + label {
  color: white !important;
}


.category-selector + label {
  color: #7a118d;
}

.category-selector:checked + label {
  background-color: #7a118d;
  border-color: #7a118d;
}


/* #snippet_category_javascript + label {
  color: #FFC65A;
}

#snippet_category_javascript:checked + label {
  background-color: #FFC65A;
  border-color: #FFC65A;
}


#snippet_category_css + label {
  color: #62DDF5;
}

#snippet_category_css:checked + label {
  background-color: #62DDF5;
  border-color: #62DDF5;
}
 */
