
<h1>Enjoy your session!</h1>

<% if @playlist.spotify_id%>
<iframe
  src="https://open.spotify.com/embed/playlist/<%=@playlist.spotify_id%>"
  width="100%"
  height="380"
  frameborder="0"
  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
</iframe>
<% end %>
</div>
